<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Is this even how you do it noer days?? -->
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}feed.xml" />

	<title>Port 22: {{ page.title }}</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	{% if "/index.html" == page.url %}
	<script src="{{ site.socket_url }}socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('{{ site.socket_url }}');

		socket.on('init', function (data) {
			add(data);
		});

		socket.on('update', function (data) {
			add(data);
		})

		function add(data){
			for(var i in data){

				var article_html = "";

				article_html += '<h4><a href="' + data[i].url +'">'+ data[i].title +'</a></h4>';
				if(data[i].author) article_html += '<p>Written By ' + data[i].author + '<p>';

				if(data[i].categories){
					var cat = data[i].categories.split(",");
					for(var y in cat){
						cat[y] = cat[y].replace (/'/g, "");
						article_html += '<span class="label label-default">'+cat[y]+'</span> ';
					}
				}

				article_html += '<p>'+data[i].timestamp+' ['+data[i].hash+']</p>';
				
				$('#feed').prepend(article_html);
			}
		}
	</script>
	{% endif %}
</head>

<body>

<div class="container">
	<div class="header">
		<ul class="nav nav-pills pull-right">
			{% assign url = page.url|remove:'index.html' %}
			{% for n in site.nav %}
				<li {% if n.permalink == url %} class="active" {% endif %}><a href="{{ n.permalink }}">{{ n.page }}</a></li>
			{% endfor %}
		</ul>
		<h3 class="text-muted">Port 22</h3>
	</div>

	<div class="jumbotron">
	<h1>Port 22</h1>
	<p class="lead">The latest and greatest security feeds on the net.</p>
	</div>

	{{ content }}

	<div class="footer">
	<p>CC-BY Port22</p>
	</div>

</div> <!-- /container -->

</body>
</html>
